
.wid-15 {
  width: 15%;
}

.label-response {
  color: black;
  font-weight: bold;
}

.center-response {
  display: flex;
  justify-content: center;
}

.label-info-response {
  margin-top: 20px;
  color: black;
  font-size: 12px;
}
