<app-loader>
</app-loader>
<div class="auth-wrapper">
    <div class="auth-content">
        <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
        </div>
        <div class="card">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-lock auth-icon"></i>
                    </div>
                    <h3 class="mb-4">4HOME | Cambiar Contraseña</h3>

                    <div class='form-group mb-3 text-left'>
                      <label class="col-form-label">Nueva Contraseña*</label>
                      <div class="align-self-center">
                          <div class="input-group">
                              <input class="form-control" [type]="showpassword ? 'text' : 'password'" placeholder="Contraseña" formControlName="password" aria-describedby="passwordPrepend">
                              <div class="input-group-prepend show-password" (click)="showpassword = !showpassword">
                                  <i *ngIf="showpassword" class="fa fa-eye" aria-hidden="true" id="passwordPrepend"></i>
                                  <i *ngIf="!showpassword" class="fa fa-eye-slash" aria-hidden="true" id="passwordPrepend"></i>
                              </div>
                          </div>

                          <div class="is-invalid" *ngIf="submitted && form.get('password').hasError('required')">
                              <span class="badge badge-danger f-size-12 mt-1 m-r-5">La contraseña es requerida</span>
                          </div>
                          <div class="is-invalid" *ngIf="submitted && form.get('password').hasError('maxlength')">
                              <span class="badge badge-danger f-size-12 mt-1 m-r-5">La contraseña supera el maximo de caracteres permitido</span>
                          </div>
                          <div class="is-invalid mb-3" *ngIf="form.get('password').hasError('pattern') && form.get('password').dirty">
                              <span class="badge badge-danger badge-password">La contraseña debe tener:
                                <br>1. Mínimo 1 número
                                <br>2. Mínimo 1 letra mayuscula
                                <br>3. Mínimo 1 letra minuscula
                                <br>4. Mínimo 8 o más caracteres
                              </span>
                          </div>
                      </div>
                    </div>

                    <div class='form-group text-left'>
                      <label class="col-form-label">Confirmar Contraseña*</label>
                      <div class="align-self-center">
                          <div class="input-group">
                              <input class="form-control" [type]="showconfirmation ? 'text' : 'password'" placeholder="Confirmar Contraseña" formControlName="password_confirmation" aria-describedby="passwordConfirmationPrepend">
                              <div class="input-group-prepend show-password" (click)="showconfirmation = !showconfirmation">
                                  <i *ngIf="showconfirmation" class="fa fa-eye" aria-hidden="true" id="passwordConfirmationPrepend"></i>
                                  <i *ngIf="!showconfirmation" class="fa fa-eye-slash" aria-hidden="true" id="passwordConfirmationPrepend"></i>
                              </div>
                          </div>

                          <div class="is-invalid" *ngIf="submitted && form.get('password_confirmation').hasError('required')">
                              <span class="badge badge-danger f-size-12 mt-1 m-r-5">La confirmación de la contraseña es requerida</span>
                          </div>
                          <div class="is-invalid" *ngIf="submitted && form.get('password_confirmation').hasError('maxlength')">
                              <span class="badge badge-danger f-size-12 mt-1 m-r-5">La confirmación de la contraseña supera el maximo de caracteres permitido</span>
                          </div>
                          <div class="is-invalid mb-3" *ngIf="form.get('password_confirmation').touched && form.hasError('mismatchedPasswords') && form.get('password').valid">
                              <span class="badge badge-danger f-size-12 mt-1 m-r-5">Las constraseñas no coinciden</span>
                          </div>
                      </div>
                    </div>

                    <button type="submit" class="btn btn-primary mb-4">Cambiar Contraseña</button>
                </div>
            </form>
        </div>
    </div>
</div>

<ng2-toasty [position]="'top-right'"></ng2-toasty>
