.file-input {
  display: none;
}

.btn-file {
  padding: 0px 10px;
  margin: 0;
  font-size: 25px;
  width: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.modal-professional .modal-dialog {
  max-width: 75%;
  width: 75%;
  margin-top: 10px;
}

.container-image-professional {
  height: 150px;
  width: 150px;
  background-color: #d6d6d6;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align-last: center;
  margin: 0 auto;
}

.img-professional {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.control-upload-image {
  width: 150px;
  margin: 0 auto;
}

.control-upload-image button{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
