<app-loader>
</app-loader>
<div class="auth-wrapper">
    <div class="auth-content">
        <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
        </div>
        <div class="card">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-mail auth-icon"></i>
                    </div>
                    <h3 class="mb-4">4HOME | Restablecer la contraseña</h3>
                    <div class="input-group mb-3">
                        <input class="form-control" type="email" placeholder="Correo" formControlName="email">
                    </div>
                    <div class="is-invalid mb-3" *ngIf="submitted && form.get('email').hasError('required')">
                        <span class="badge badge-danger">El correo es requerido</span>
                    </div>
                    <div class="is-invalid mb-3" *ngIf="form.get('email').hasError('pattern') && form.get('email').dirty">
                        <span class="badge badge-danger">El correo no es valido</span>
                    </div>
                    <button type="submit" class="btn btn-primary mb-4">Restablecer</button>
                    <p class="mb-2 text-muted">¿Ya tienes una cuenta? <a [routerLink]="['/auth/login']">Inicar Sesión</a></p>
                    <p class="mb-0 text-muted">¿No tienes una cuenta? <a [routerLink]="['/auth/signup']">Registrarse</a></p>
                </div>
            </form>
        </div>
    </div>
</div>

<ng2-toasty [position]="'top-right'"></ng2-toasty>
