.body-search {
  padding: 10px !important;
}

.wid-26 {
  width: 26px;
}

.input-search {
  height: 25px;
}

.label-reserves {
  background-color: #1976d2;
  color: white
}

.body-list-reserves {
  padding: 5px !important;
  background-color: #dee2e6;
}

.img-reserve {
  width: 30px;
  height: 30px;
}

.container-image-availability {
  height: 150px;
  width: 150px;
  background-color: #d6d6d6;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align-last: center;
  margin: 0 auto;
}

.img-availability {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.label-info-customer {
  font-size: 12px;
  color: black;
  margin-bottom: 0px;
}

.label-info {
  font-size: 11px;
  margin-bottom: 0;
}

.container-availability {
  margin-top: -20px;
}

.body-info {
  height: calc(100vh - 295px);
  overflow: auto;
  margin-bottom: 10px;
}

.calendar {
  height: calc(100vh - 90px);
}
