<ul class="navbar-nav">
  <li>
    <div class="dropdown drp-user" ngbDropdown placement='auto'>
      <a href="javascript:" ngbDropdownToggle data-toggle="dropdown">
        <i class="icon feather icon-settings"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right profile-notification" ngbDropdownMenu>
        <div class="pro-head">
          <img src="assets/images/user/avatar-2.jpg" class="img-radius" alt="User-Profile-Image">
          <span>{{ name | titlecase }} {{ lastname | titlecase }}</span>
          <a href="javascript:" class="dud-logout" (click)="logout()"  title="Cerrar Sesión">
            <i class="feather icon-log-out"></i>
          </a>
        </div>
        <ul class="pro-body">
          <li><a routerLink="/admin/profile" class="dropdown-item"><i class="feather icon-user"></i>Perfil</a></li>
        </ul>
      </div>
    </div>
  </li>
</ul>
