<app-loader>
</app-loader>
<div class="auth-wrapper">
  <div class="auth-content container-singup">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="card-body text-center">
          <div class="mb-4">
            <i class="feather icon-user-plus auth-icon"></i>
          </div>
          <h3 class="mb-4">4HOME | Registro</h3>

          <div class="row text-left">

            <div class="col-md-9">

              <div class="row">

                <div class="col-md-4">
                  <div class='form-group'>
                    <label class="col-form-label">{{labels.client_type}} <span class="text-danger">*</span></label>
                    <div class="align-self-center">
                      <ng-select [items]="customerTypes" bindLabel="label" bindValue="value" [clearable]="true"
                                 placeholder="Seleccione..." formControlName="customer_type"
                                 notFoundText="No se encontraron resultados"></ng-select>
                      <span class="is-invalid" *ngIf="submitted && form.get('customer_type').hasError('required')">
                        <small class="form-text text-danger">{{texts.client_type_required}}</small>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class='form-group'>
                    <label class="col-form-label">{{labels.document_type}} <span class="text-danger">*</span></label>
                    <div class="align-self-center">
                      <ng-select [items]="documentTypes" bindLabel="label" bindValue="value" [clearable]="true"
                                 placeholder="Seleccione..." formControlName="type_document"
                                 notFoundText="No se encontraron resultados"></ng-select>
                      <span class="is-invalid" *ngIf="submitted && form.get('type_document').hasError('required')">
                        <small class="form-text text-danger">{{texts.document_type_required}}</small>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class='form-group'>
                    <label class="col-form-label">{{labels.identification}} <span class="text-danger">*</span></label>
                    <div class="align-self-center ">
                      <input type="text" class="form-control" formControlName="identification" maxlength="10">
                      <span class="is-invalid" *ngIf="submitted && form.get('identification').hasError('required')">
                        <small class="form-text text-danger">{{texts.identification_required}}</small>
                      </span>
                      <span class="is-invalid"
                            *ngIf="form.get('identification').hasError('pattern') && form.get('identification').touched">
                        <small class="form-text text-danger">{{texts.only_numbers}}</small>
                      </span>
                      <span class="is-invalid" *ngIf="submitted && form.get('identification').hasError('maxlength')">
                        <small
                          class="form-text text-danger">{{texts.identification_maxlength}}</small>
                      </span>
                      <div class="mt-1"
                           *ngIf="form.get('identification').status === 'PENDING' && !form.get('identification').pristine && form.get('identification').value != customer.identification">
                        <small class="form-text text-info">{{texts.verifing}}</small>
                      </div>
                      <div class="mt-1"
                           *ngIf="form.get('identification').status === 'VALID' && !form.get('identification').pristine && form.get('identification').value != customer.identification">
                        <small class="form-text text-success">{{texts.identification_available}}</small>
                      </div>
                      <div class="mt-1"
                           *ngIf="form.get('identification').hasError('identification') && !form.get('identification').pristine && form.get('identification').value != customer.identification">
                        <small class="form-text text-danger">{{texts.identification_unavailable}}</small>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-md-4">
                  <div class='form-group'>
                    <label class="col-form-label">{{labels.names}} <span class="text-danger">*</span></label>
                    <div class="align-self-center ">
                      <input type="text" class="form-control" formControlName="name" maxlength="50">
                      <span class="is-invalid" *ngIf="submitted && form.get('name').hasError('required')">
                        <small class="form-text text-danger">{{texts.names_required}}</small>
                      </span>
                      <span class="is-invalid" *ngIf="submitted && form.get('name').hasError('maxlength')">
                        <small class="form-text text-danger">{{texts.names_maxlength}}</small>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class='form-group'>
                    <label class="col-form-label">{{labels.lastnames}} <span class="text-danger">*</span></label>
                    <div class="align-self-center ">
                      <input type="text" class="form-control" formControlName="lastname" maxlength="50">
                      <span class="is-invalid" *ngIf="submitted && form.get('lastname').hasError('required')">
                        <small class="form-text text-danger">{{texts.lastnames_required}}</small>
                      </span>
                      <span class="is-invalid" *ngIf="submitted && form.get('lastname').hasError('maxlength')">
                        <small
                          class="form-text text-danger">{{texts.lastnames_maxlength}}</small>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">

                  <div class='form-group'>
                    <label class="col-form-label">{{labels.email}} <span class="text-danger">*</span></label>
                    <div class="align-self-center ">
                      <input type="text" class="form-control" formControlName="email" maxlength="50">
                      <span class="is-invalid" *ngIf="submitted && form.get('email').hasError('required')">
                        <small class="form-text text-danger">{{texts.email_required}}</small>
                      </span>
                      <span class="is-invalid" *ngIf="form.get('email').hasError('pattern') && form.get('email').dirty">
                        <small class="form-text text-danger">{{texts.email_not_valid}}</small>
                      </span>
                      <span class="is-invalid" *ngIf="submitted && form.get('email').hasError('maxlength')">
                        <small class="form-text text-danger">{{texts.email_maxlength}}</small>
                      </span>
                      <div class="mt-1"
                           *ngIf="form.get('email').status === 'PENDING' && !form.get('email').pristine && form.get('email').value != customer.email">
                        <small class="form-text text-info">{{texts.verifing}}</small>
                      </div>
                      <div class="mt-1"
                           *ngIf="form.get('email').status === 'VALID' && !form.get('email').pristine && form.get('email').value != customer.email">
                        <small class="form-text text-success">{{texts.email_available}}</small>
                      </div>
                      <div class="mt-1"
                           *ngIf="form.get('email').hasError('email') && !form.get('email').pristine && form.get('email').value != customer.email">
                        <small class="form-text text-danger">{{texts.email_unavailable}}</small>
                      </div>
                    </div>
                  </div>

                </div>

              </div>

              <div class="row">

                <div class="col-md-4">

                  <div class='form-group'>
                    <label class="col-form-label">{{labels.password}} <span class="text-danger">*</span></label>
                    <div class="align-self-center">
                      <div class="input-group">
                        <input class="form-control" [type]="showpassword ? 'text' : 'password'" placeholder="Contraseña"
                               formControlName="password" aria-describedby="passwordPrepend">
                        <div class="input-group-prepend show-password" (click)="showpassword = !showpassword">
                          <i *ngIf="showpassword" class="fa fa-eye" aria-hidden="true" id="passwordPrepend"></i>
                          <i *ngIf="!showpassword" class="fa fa-eye-slash" aria-hidden="true" id="passwordPrepend"></i>
                        </div>
                      </div>
                      <span class="is-invalid" *ngIf="submitted && form.get('password').hasError('required')">
                        <small class="form-text text-danger">{{texts.password_required}}</small>
                      </span>
                      <span class="is-invalid" *ngIf="submitted && form.get('password').hasError('maxlength')">
                        <small
                          class="form-text text-danger">{{texts.password_maxlength}}</small>
                      </span>
                      <span class="is-invalid mb-3"
                            *ngIf="form.get('password').hasError('pattern') && form.get('password').dirty">
                        <small class="form-text text-danger" [innerHTML]="texts.password_format_required"></small>
                      </span>
                    </div>
                  </div>

                </div>

                <div class="col-md-4">

                  <div class='form-group'>
                    <label class="col-form-label">{{labels.password_confirm}} <span class="text-danger">*</span></label>
                    <div class="align-self-center">
                      <div class="input-group">
                        <input class="form-control" [type]="showconfirmation ? 'text' : 'password'"
                               placeholder="Confirmar Contraseña" formControlName="password_confirmation"
                               aria-describedby="passwordConfirmationPrepend">
                        <div class="input-group-prepend show-password" (click)="showconfirmation = !showconfirmation">
                          <i *ngIf="showconfirmation" class="fa fa-eye" aria-hidden="true"
                             id="passwordConfirmationPrepend"></i>
                          <i *ngIf="!showconfirmation" class="fa fa-eye-slash" aria-hidden="true"
                             id="passwordConfirmationPrepend"></i>
                        </div>
                      </div>
                      <span class="is-invalid"
                            *ngIf="submitted && form.get('password_confirmation').hasError('required')">
                        <small class="form-text text-danger">{{texts.password_confirm_required}}</small>
                      </span>
                      <span class="is-invalid"
                            *ngIf="submitted && form.get('password_confirmation').hasError('maxlength')">
                        <small class="form-text text-danger">{{texts.password_confirm_maxlength}}</small>
                      </span>
                      <span class="is-invalid"
                            *ngIf="form.get('password_confirmation').touched && form.hasError('mismatchedPasswords') && form.get('password').valid">
                        <small class="form-text text-danger">{{texts.password_not_match}}</small>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">{{labels.phone}} <span class="text-danger">*</span></label>
                    <div class="align-self-center ">
                      <input type="text " class="form-control " formControlName="phone" maxlength="8">
                      <span class="is-invalid" *ngIf="submitted && form.get('phone').hasError('required')">
                        <small class="form-text text-danger">{{texts.phone_required}}</small>
                      </span>
                      <span class="is-invalid"
                            *ngIf="form.get('phone').hasError('pattern') && form.get('phone').touched">
                        <small class="form-text text-danger">{{texts.only_numbers}}</small>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">{{labels.cellphone}} <span class="text-danger">*</span></label>
                    <div class="align-self-center ">
                      <input type="text " class="form-control " formControlName="mobile" maxlength="10">
                      <span class="is-invalid" *ngIf="submitted && form.get('mobile').hasError('required')">
                        <small class="form-text text-danger">{{texts.cellphone_required}}</small>
                      </span>
                      <span class="is-invalid"
                            *ngIf="form.get('mobile').hasError('pattern') && form.get('mobile').touched">
                        <small class="form-text text-danger">{{texts.only_numbers}}</small>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class='form-group'>
                    <label class="col-form-label">{{labels.contact_name}} <span class="text-danger">*</span></label>
                    <div class="align-self-center ">
                      <input type="text" class="form-control" formControlName="contact_name" maxlength="250">
                      <span class="is-invalid" *ngIf="submitted && form.get('contact_name').hasError('required')">
                        <small class="form-text text-danger">{{texts.contact_name_required}}</small>
                      </span>
                      <span class="is-invalid" *ngIf="submitted && form.get('contact_name').hasError('maxlength')">
                        <small class="form-text text-danger">{{texts.contact_name_maxlength}}</small>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class='form-group'>
                    <label class="col-form-label">{{labels.billing_address}} <span class="text-danger">*</span></label>
                    <div class="align-self-center ">
                      <input type="text" class="form-control" formControlName="billing_address" maxlength="250">
                      <span class="is-invalid" *ngIf="submitted && form.get('billing_address').hasError('required')">
                        <small class="form-text text-danger">{{texts.billing_address_required}}</small>
                      </span>
                      <span class="is-invalid" *ngIf="submitted && form.get('billing_address').hasError('maxlength')">
                        <small class="form-text text-danger">{{texts.billing_address_maxlength}}</small>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-3" style="border-left: 3px solid #d0d0d0;">
              <div class="row mb-2 place-items-center">
                <div class="col-md-5 pr-0">
                  <h5 class="f-14 m-0">{{labels.addresses}}</h5>
                  <i class="feather icon-info ml-1" placement="right" ngbTooltip="{{texts.addresses_info}}"
                     triggers="click:blur" tooltipClass="my-custom-tooltip"></i>
                </div>
                <div class="col-md-7" style="text-align: right;">
                  <img *ngIf="!addAddress && !editAddress" placement="top" ngbTooltip="{{texts.add_address}}"
                       (click)="newAddress();" alt="Theme-Logo" class="img-fluid" src="assets/img/add_.png"
                       style="width: 30px;">
                </div>
              </div>

              <div *ngIf="addAddress || editAddress">
                <div class='form-group'>
                  <label class="col-form-label">{{labels.address}} <span class="text-danger">*</span></label>
                  <div class="align-self-center ">
                    <input type="text" class="form-control" [(ngModel)]="address" [ngModelOptions]="{standalone: true}"
                           maxlength="250" autofocus>
                  </div>
                </div>
                <div class='row'>
                  <div class="align-self-center pr-0" [class.col-md-6]="addAddress && !editAddress"
                       [class.col-md-4]="!addAddress && editAddress">
                    <button type="button" class="btn btn-success p-2" (click)="cancelAddress();">{{texts.cancel}}</button>
                  </div>
                  <div class="align-self-center pr-0" [class.col-md-6]="addAddress && !editAddress"
                       [class.col-md-4]="!addAddress && editAddress">
                    <button *ngIf="addAddress && !editAddress" type="button" class="btn btn-primary p-2"
                            (click)="saveAddress();">{{texts.add}}
                    </button>
                    <button *ngIf="!addAddress && editAddress" type="button" class="btn btn-primary p-2"
                            (click)="updateAddress();">{{texts.update}}
                    </button>
                  </div>
                  <div class="align-self-center col-md-4 pr-0" *ngIf="!addAddress && editAddress">
                    <button type="button" class="btn btn-danger p-2" (click)="removeAddress();">{{texts.delete}}</button>
                  </div>
                </div>
              </div>

              <div class="row mt-3">
                <ul style="list-style-type: decimal;max-height: 330px;overflow: auto;">
                  <li formArrayName="addresses" *ngFor="let address of addressesArray.controls" style="cursor: pointer;"
                      (click)="getAddress(address)">
                    <label class="f-14 addresses"
                           [formGroupName]="address.value.index">{{ address.value.address }}</label>
                  </li>
                </ul>
              </div>

              <div class="text-center" *ngIf="addressesArray.controls.length === 0 && !addAddress">
                <small class="form-text text-danger">{{texts.at_least_one_address}}</small>
              </div>

            </div>

          </div>

          <button type="submit" class="btn btn-primary mb-4">Registrarse</button>
          <p class=" mb-2 text-muted ">¿Ya tienes una cuenta? <a [routerLink]="[ '/auth/login'] ">Iniciar Sesión</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
