<div class="d-flex">

    <div class="col-md-12">
        <div class="card user-profile-list mb-0" style="margin-top: -15px;">
            <div class="card-header">
                <h4>Lista de Clientes</h4>
            </div>

            <div class="card-body">
                <div *ngIf="canSee" lass="dt-responsive table-responsive ">
                    <table datatable [dtOptions]="dtOptions " [dtTrigger]="dtTrigger " class="display row-border hover table-striped " style="width:100% ">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Email</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="customers?.length !=0 ">
                            <tr *ngFor="let customer of customers; let index = index ">
                                <td>{{ customer.id }}</td>
                                <td>{{ customer.name }}</td>
                                <td>{{ customer.lastname }}</td>
                                <td>{{ customer.email }}</td>
                                <td>
                                    <span *ngIf="customer.status === 1" class="badge badge-success">ACTIVO</span>
                                    <span *ngIf="customer.status === 0" class="badge badge-danger">INACTIVO</span>
                                </td>
                                <td>
                                    <button *ngIf="canEdit" type="button" class="btn btn-icon btn-edit btn-datatable btn-edit-datatable" (click)="edit(customer.id)" [placement]="'bottom'" ngbTooltip="Editar" tooltipClass="tooltip-class" container="body">
                                      <i class="fas fa-edit" style="color:white; margin-left: 2px;"></i>
                                    </button>

                                    <button *ngIf="canDelete" type="button" class="btn btn-icon btn-delete btn-datatable btn-remove-datatable" (click)="delete(customer.id, index)" [placement]="'bottom'" ngbTooltip="Eliminar" tooltipClass="tooltip-class" container="body">
                                      <i class="fa fa-trash" aria-hidden="true" style="color:white; margin-left: 2px;"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="!canSee" class="text-align-center">
                    <label class="badge badge-info f-20">NO TIENE PERMISO PARA VER LA LISTA DE CLIENTES</label>
                </div>
            </div>

        </div>
    </div>
</div>
<ng2-toasty [position]="'top-right'"></ng2-toasty>

<form [formGroup]="form">
    <ng-template #modalForm let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h5 *ngIf="!id" class="modal-title">Nuevo Cliente</h5>
            <h5 *ngIf="id" class="modal-title">Modificar Cliente</h5>
            <button type="button" class="close basic-close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <div class="row">

                <div class="col-md-9">

                    <div class="row">

                        <div class="col-md-4">

                            <div class='form-group'>
                                <label class="col-form-label">Tipo de Cliente*</label>
                                <div class="align-self-center">
                                    <ng-select [items]="customerTypes" indLabel="label" bindValue="value" [clearable]="true" placeholder="Seleccione..." formControlName="customer_type" notFoundText="No se encontraron resultados"></ng-select>
                                    <div class="is-invalid" *ngIf="submitted && form.get('customer_type').hasError('required')">
                                        <span class="badge badge-danger f-size-12 mt-1 m-r-5">El tipo de cliente es requerido</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">

                            <div class='form-group'>
                                <label class="col-form-label">Tipo de Documento*</label>
                                <div class="align-self-center">
                                    <ng-select [items]="documentTypes" indLabel="label" bindValue="value" [clearable]="true" placeholder="Seleccione..." formControlName="type_document" notFoundText="No se encontraron resultados"></ng-select>
                                    <div class="is-invalid" *ngIf="submitted && form.get('type_document').hasError('required')">
                                        <span class="badge badge-danger f-size-12 mt-1 m-r-5">El tipo de documento es requerido</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">

                            <div class='form-group'>
                                <label class="col-form-label">Identificación*</label>
                                <div class="align-self-center ">
                                    <input type="text" class="form-control" formControlName="identification" maxlength="10">
                                    <div class="is-invalid" *ngIf="submitted && form.get('identification').hasError('required')">
                                        <span class="badge badge-danger f-size-12 mt-1 m-r-5">La identificación es requerida</span>
                                    </div>
                                    <div class="is-invalid" *ngIf="submitted && form.get('identification').hasError('maxlength')">
                                        <span class="badge badge-danger f-size-12 mt-1 m-r-5">La identificación supera el maximo de caracteres permitido</span>
                                    </div>
                                    <div class="mt-1" *ngIf="form.get('identification').status === 'PENDING' && !form.get('identification').pristine && form.get('identification').value != customer.identification">
                                        <span class="badge badge-primary f-size-12 m-r-5">Verificando...</span>
                                    </div>
                                    <div class="mt-1" *ngIf="form.get('identification').status === 'VALID' && !form.get('identification').pristine && form.get('identification').value != customer.identification">
                                        <span class="badge badge-success f-size-12 m-r-5">La identificación esta disponible!</span>
                                    </div>
                                    <div class="mt-1" *ngIf="form.get('identification').hasError('identification') && !form.get('identification').pristine && form.get('identification').value != customer.identification">
                                        <span class="badge badge-danger f-size-12 m-r-5">Identificación ya registrada</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-4">

                            <div class='form-group'>
                                <label class="col-form-label">Nombre*</label>
                                <div class="align-self-center ">
                                    <input type="text" class="form-control" formControlName="name" maxlength="50" autofocus>
                                    <div class="is-invalid" *ngIf="submitted && form.get('name').hasError('required')">
                                        <span class="badge badge-danger f-size-12 mt-1 m-r-5">El nombre es requerido</span>
                                    </div>
                                    <div class="is-invalid" *ngIf="submitted && form.get('name').hasError('maxlength')">
                                        <span class="badge badge-danger f-size-12 mt-1 m-r-5">El nombre supera el maximo de caracteres permitido</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-4">
                            <div class='form-group'>
                                <label class="col-form-label">Apellido*</label>
                                <div class="align-self-center ">
                                    <input type="text" class="form-control" formControlName="lastname" maxlength="50" autofocus>
                                    <div class="is-invalid" *ngIf="submitted && form.get('lastname').hasError('required')">
                                        <span class="badge badge-danger f-size-12 mt-1 m-r-5">El apellido es requerido</span>
                                    </div>
                                    <div class="is-invalid" *ngIf="submitted && form.get('lastname').hasError('maxlength')">
                                        <span class="badge badge-danger f-size-12 mt-1 m-r-5">El apellido supera el maximo de caracteres permitido</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">

                            <div class='form-group'>
                                <label class="col-form-label">Email*</label>
                                <div class="align-self-center ">
                                    <input type="text" class="form-control" formControlName="email" maxlength="50">
                                    <div class="is-invalid" *ngIf="submitted && form.get('email').hasError('required')">
                                        <span class="badge badge-danger f-size-12 mt-1 m-r-5">El email es requerido</span>
                                    </div>
                                    <div class="is-invalid" *ngIf="form.get('email').hasError('pattern') && form.get('email').dirty">
                                        <span class="badge badge-danger">El correo no es valido</span>
                                    </div>
                                    <div class="is-invalid" *ngIf="submitted && form.get('email').hasError('maxlength')">
                                        <span class="badge badge-danger f-size-12 mt-1 m-r-5">El email supera el maximo de caracteres permitido</span>
                                    </div>
                                    <div class="mt-1" *ngIf="form.get('email').status === 'PENDING' && !form.get('email').pristine && form.get('email').value != customer.email">
                                        <span class="badge badge-primary f-size-12 m-r-5">Verificando...</span>
                                    </div>
                                    <div class="mt-1" *ngIf="form.get('email').status === 'VALID' && !form.get('email').pristine && form.get('email').value != customer.email">
                                        <span class="badge badge-success f-size-12 m-r-5">El email esta disponible!</span>
                                    </div>
                                    <div class="mt-1" *ngIf="form.get('email').hasError('email') && !form.get('email').pristine && form.get('email').value != customer.email">
                                        <span class="badge badge-danger f-size-12 m-r-5">Email no disponible</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-4">

                            <div class='form-group'>
                                <label class="col-form-label">Contraseña*</label>

                                <div class="align-self-center">
                                    <input class="form-control" [type]="showpassword ? 'text' : 'password'" placeholder="Contraseña" formControlName="password">
                                    <div class="is-invalid" *ngIf="submitted && form.get('password').hasError('required')">
                                        <span class="badge badge-danger f-size-12 mt-1 m-r-5">La contraseña es requerida</span>
                                    </div>
                                    <div class="is-invalid" *ngIf="submitted && form.get('password').hasError('maxlength')">
                                        <span class="badge badge-danger f-size-12 mt-1 m-r-5">La contraseña supera el maximo de caracteres permitido</span>
                                    </div>
                                    <div class="is-invalid mb-3" *ngIf="form.get('password').hasError('pattern') && form.get('password').dirty">
                                        <span class="badge badge-danger">La contraseña no es valida</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">

                            <div class="form-group">
                                <label class="col-form-label">Telefono*</label>
                                <div class="align-self-center ">
                                    <input type="text " class="form-control " formControlName="phone" maxlength="8">
                                    <div class="is-invalid" *ngIf="submitted && form.get('phone').hasError('required')">
                                        <span class="badge badge-danger f-size-12 mt-1 m-r-5">El telefono es requerido</span>
                                    </div>

                                    <div class="is-invalid" *ngIf="form.get('phone').hasError('pattern') && form.get('phone').touched">
                                        <span class="badge badge-danger f-size-12 mt-1 m-r-5">Digite unicamente números</span>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">

                            <div class="form-group">
                                <label class="col-form-label">Celular*</label>
                                <div class="align-self-center ">
                                    <input type="text " class="form-control " formControlName="mobile" maxlength="10">
                                    <div class="is-invalid" *ngIf="submitted && form.get('mobile').hasError('required')">
                                        <span class="badge badge-danger f-size-12 mt-1 m-r-5">El numero de celular es requerido</span>
                                    </div>

                                    <div class="is-invalid" *ngIf="form.get('mobile').hasError('pattern') && form.get('mobile').touched">
                                        <span class="badge badge-danger f-size-12 mt-1 m-r-5">Digite unicamente números</span>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-4">

                            <div class='form-group'>
                                <label class="col-form-label">Nombre de contacto*</label>
                                <div class="align-self-center ">
                                    <input type="text" class="form-control" formControlName="contact_name" maxlength="250" autofocus>
                                    <div class="is-invalid" *ngIf="submitted && form.get('contact_name').hasError('required')">
                                        <span class="badge badge-danger f-size-12 mt-1 m-r-5">El nombre de contacto es requerido</span>
                                    </div>
                                    <div class="is-invalid" *ngIf="submitted && form.get('contact_name').hasError('maxlength')">
                                        <span class="badge badge-danger f-size-12 mt-1 m-r-5">El nombre de contacto supera el maximo de caracteres permitido</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class='form-group'>
                                <label class="col-form-label">Dirección de facturación*</label>
                                <div class="align-self-center ">
                                    <input type="text" class="form-control" formControlName="billing_address" maxlength="250" autofocus>
                                    <div class="is-invalid" *ngIf="submitted && form.get('billing_address').hasError('required')">
                                        <span class="badge badge-danger f-size-12 mt-1 m-r-5">La dirección de facturación es requerido</span>
                                    </div>
                                    <div class="is-invalid" *ngIf="submitted && form.get('billing_address').hasError('maxlength')">
                                        <span class="badge badge-danger f-size-12 mt-1 m-r-5">La dirección de facturación supera el maximo de caracteres permitido</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label pb-0">Estado</label><br>
                                <div class="d-flex align-items-center">
                                    <div class="switch switch-success d-inline m-r-10">
                                        <input type="checkbox" id="status" formControlName="status">
                                        <label for="status" class="cr cr-hw"></label>
                                    </div>
                                    <div>
                                        <span class="badge m-r-5 badge-success ml-2 mt-2" *ngIf="form.get('status').value">Activo</span>
                                        <span class="badge m-r-5 badge-danger ml-2 mt-2" *ngIf="!form.get('status').value">Inactivo</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="col-md-3" style="border-left: 3px solid #d0d0d0;">
                    <div class="row mb-2">
                        <div class="col-md-2">
                            <h5>Direcciones</h5>
                        </div>
                        <div class="col-md-10" style="text-align: right;">
                            <img *ngIf="!addAddress && !editAddress" placement="top" ngbTooltip="Agregar Dirección" (click)="newAddress();" alt="Theme-Logo" class="img-fluid" src="assets/img/add_.png" style="width: 30px;">
                            <img *ngIf="addAddress && !editAddress" placement="top" ngbTooltip="Guardar" (click)="saveAddress();" alt="Theme-Logo" class="img-fluid mr-1" src="assets/img/save.png" style="width: 30px;">
                            <img *ngIf="!addAddress && editAddress" placement="top" ngbTooltip="Modificar" (click)="updateAddress();" alt="Theme-Logo" class="img-fluid mr-1" src="assets/img/update.png" style="width: 30px;">
                            <img *ngIf="!addAddress && editAddress" placement="top" ngbTooltip="Eliminar" (click)="removeAddress();" alt="Theme-Logo" class="img-fluid mr-1" src="assets/img/remove.png" style="width: 30px;">
                            <img *ngIf="addAddress || editAddress" placement="top" ngbTooltip="Cancelar" alt="Theme-Logo" (click)="cancelAddress();" class="img-fluid" src="assets/img/cancel.png" style="width: 30px;">
                        </div>
                    </div>

                    <div *ngIf="addAddress || editAddress">
                        <div class='form-group'>
                            <label class="col-form-label">Dirección*</label>
                            <div class="align-self-center ">
                                <input type="text" class="form-control" [(ngModel)]="address" [ngModelOptions]="{standalone: true}" maxlength="250">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <ul style="list-style-type: decimal;max-height: 330px;overflow: auto;">
                            <li formArrayName="addresses" *ngFor="let address of addressesArray.controls" style="cursor: pointer;" (click)="getAddress(address)">
                                <label class="badge badge-info f-14" [formGroupName]="address.value.index" style="white-space: break-spaces;cursor: pointer;">{{ address.value.address }}</label>
                            </li>
                        </ul>
                    </div>

                    <div class="text-center" *ngIf="addressesArray.controls.length === 0 && !addAddress">
                        <label class="badge badge-danger f-12">Las direcciones son requeridas</label>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary mr-2" (click)="cancel(); d('Cross click')" (click)="cancel();">Cancelar</button>
            <button *ngIf="canCreate && !id" type="submit" class="btn btn-success mr-2" [disabled]="!form.valid" (click)="onSubmit()">Guardar</button>
            <button *ngIf="canEdit && id" type="submit" class="btn btn-primary mr-2" [disabled]="!form.valid" (click)="onSubmit()">Editar</button>
        </div>
    </ng-template>
</form>
<button #openModal type="button" class="btn btn-primary hidden" (click)="open(modalForm)"></button>
<button #closeModal type="button" class="close basic-close" aria-label="Close" (click)="close(modalForm)"></button>