.img-customer {
    width: 10%;
    margin-right: 10px;
}

.btn-search {
    padding: 4px 10px;
    font-size: 14px;
    font-weight: bold;
}

.wid-7 {
    width: 7%;
}

.custom-day.text-muted {
    background: #c1c1c1;
    color: white !important;
    border-radius: 10px;
    padding: 6px;
}

.ngb-dp-day {
    font-size: 14px;
}

.custom-day {
    padding: 5px;
}

.ngb-dp-day:hover {
    background: #04a9f5;
    font-weight: bold;
    color: white;
    border-radius: 10px;
}

.content-days {
    place-content: center;
    height: 430px;
    overflow: auto;
}

.mt-m15 {
    margin-top: -15px;
}

.custom-day.bg-primary {
    background: #04a9f5 !important;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.price {
    font-size: 23px;
    font-weight: bold;
    padding: 5px;
    color: #007bff;
}