<div class="d-flex">

    <div class="col-md-3">

        <div class="card card-primary mb-2" style="margin-top: -15px;" *ngIf="!isCustomer">

            <div class="card-body" style="padding: 10px 15px;" *ngIf="canCreate">

                <div class='form-group'>
                    <label class="col-form-label">Tipo de Documento*</label>
                    <div class="align-self-center">
                        <ng-select [items]="documentTypes" indLabel="label" bindValue="value" [clearable]="true" placeholder="Seleccione..." [(ngModel)]="documentType" notFoundText="No se encontraron resultados"></ng-select>
                    </div>
                </div>

                <div class='form-group'>
                    <label class="col-form-label">Identificación*</label>
                    <div class="align-self-center">
                        <input type="text" class="form-control" [(ngModel)]="identification" maxlength="10">
                    </div>
                </div>

                <div class="text-center">
                    <button type="button" class="btn btn-primary btn-search " (click)="search()" [disabled]="!documentType || !identification">Buscar</button>
                </div>

            </div>

            <div class="card-body text-center" *ngIf="!canCreate">
                <label class="badge badge-info f-12 break-spaces">NO TIENE PERMISO PARA CREAR RESERVAS</label>
            </div>

        </div>

        <div class="card card-primary" *ngIf="customer" [ngClass]="{'mt-m15' : isCustomer }">

            <div class="card-body p-2 pl-4">

                <div [placement]="'left'" ngbTooltip="Identificación" tooltipClass="tooltip-class">
                    <img class="img-customer" src="assets/img/customer/id.png">
                    <label class="font-weight-bold f-12">{{ customer.identification }}</label>
                </div>

                <div [placement]="'left'" ngbTooltip="Cliente" tooltipClass="tooltip-class">
                    <img class="img-customer" src="assets/img/customer/user.png">
                    <label class="font-weight-bold f-12">{{ customer.name | titlecase }} {{ customer.lastname | titlecase }}</label>
                </div>

                <div [placement]="'left'" ngbTooltip="Email" tooltipClass="tooltip-class">
                    <img class="img-customer" src="assets/img/customer/email.png">
                    <label class="font-weight-bold f-12">{{ customer.email }}</label>
                </div>

                <div [placement]="'left'" ngbTooltip="Celular" tooltipClass="tooltip-class">
                    <img class="img-customer" src="assets/img/customer/mobile.png">
                    <label class="font-weight-bold f-12">{{ customer.mobile }}</label>
                </div>

                <div [placement]="'left'" ngbTooltip="Teléfono" tooltipClass="tooltip-class">
                    <img class="img-customer" src="assets/img/customer/phone.png">
                    <label class="font-weight-bold f-12">{{ customer.phone }}</label>
                </div>

                <div [placement]="'left'" ngbTooltip="Nombre de Contacto" tooltipClass="tooltip-class">
                    <img class="img-customer" src="assets/img/customer/contact_name.png">
                    <label class="font-weight-bold f-12">{{ customer.contact_name | titlecase }}</label>
                </div>

                <div [placement]="'left'" ngbTooltip="Dirección de Facturación" tooltipClass="tooltip-class">
                    <img class="img-customer" src="assets/img/customer/billing_address.png">
                    <label class="font-weight-bold f-12">{{ customer.billing_address }}</label>
                </div>

                <div *ngFor="let address of customer.customer_address" [placement]="'left'" ngbTooltip="Dirección" tooltipClass="tooltip-class">
                    <img class="img-customer" src="assets/img/customer/addresses.png">
                    <label class="font-weight-bold f-12">{{ address.address }}</label>
                </div>

            </div>

        </div>

    </div>


    <div class="col-md-9" style="margin-top: -15px;border-left: 4px solid #d4d4d4;" [hidden]="!customer">

        <div class="card user-profile-list mb-0">
            <div class="card-header">
                <h4>Lista de Reservas</h4>
            </div>

            <div class="card-body">
                <div *ngIf="canSee" lass="dt-responsive table-responsive ">
                    <table datatable [dtOptions]="dtOptions " [dtTrigger]="dtTrigger " class="display row-border hover table-striped " style="width:100% ">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Referencia</th>
                                <th>Servicio</th>
                                <th>Tipo</th>
                                <th>Jornada</th>
                                <th>Precio</th>
                                <th>Dirección</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="reservations?.length !=0 ">
                            <tr *ngFor="let reservation of reservations; let index = index ">
                                <td>{{ reservation.id }}</td>
                                <th>{{ reservation.reference }}</th>
                                <td>{{ reservation.service.name }}</td>
                                <td *ngIf="reservation.type === 1">Esporádico</td>
                                <td *ngIf="reservation.type === 2">Mensualidad</td>
                                <td>{{ reservation.service.working_day.name }}</td>
                                <td>{{ (reservation.service.price * reservation.service.quantity) | currency }}</td>
                                <td>{{ reservation.customer_address.address }}</td>
                                <td>
                                    <span *ngIf="reservation.status === 1" class="badge badge-warning">RESERVADO</span>
                                    <span *ngIf="reservation.status === 2" class="badge badge-success">AGENDADO SIN PAGO</span>
                                    <span *ngIf="reservation.status === 3" class="badge badge-success">PAGO APROBADO</span>
                                    <span *ngIf="reservation.status === 4" class="badge badge-danger">PAGO RECHAZADO</span>
                                </td>
                                <td class="wid-15 text-center">
                                    <button type="button" *ngIf="reservation.status === 1" class="btn btn-icon btn-edit btn-datatable btn-edit-datatable" (click)="edit(reservation.id)" [placement]="'bottom'" ngbTooltip="Editar" tooltipClass="tooltip-class" container="body">
                                      <i class="fas fa-edit" style="color:white; margin-left: 2px;"></i>
                                    </button>

                                    <button type="button" *ngIf="reservation.status === 1" class="btn btn-icon btn-delete btn-datatable btn-remove-datatable" (click)="delete(reservation.id, index)" [placement]="'bottom'" ngbTooltip="Eliminar" tooltipClass="tooltip-class" container="body">
                                      <i class="fa fa-trash" aria-hidden="true" style="color:white; margin-left: 2px;"></i>
                                    </button>

                                    <button type="button" *ngIf="reservation.status === 2" class="btn btn-icon btn-delete btn-datatable btn-payu" (click)="payments(reservation.id)" [placement]="'bottom'" ngbTooltip="Pagos" tooltipClass="tooltip-class" container="body">
                                      <img class="img-payu" src="assets/img/payu.png">
                                    </button>

                                    <button type="button" *ngIf="reservation.status === 4" class="btn btn-icon btn-delete btn-datatable btn-payu" (click)="payments(reservation.id)" [placement]="'bottom'" ngbTooltip="Pagos" tooltipClass="tooltip-class" container="body">
                                      <img class="img-payu" src="assets/img/payu.png">
                                    </button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="!canSee" class="text-align-center">
                    <label class="badge badge-info f-18">NO TIENE PERMISO PARA VER LA LISTA DE RESERVAS</label>
                </div>
            </div>

        </div>

    </div>

</div>

<ng2-toasty [position]="'top-right'"></ng2-toasty>

<form [formGroup]="form">
    <ng-template #modalForm let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h5 *ngIf="!id" class="modal-title">Nueva Reserva</h5>
            <h5 *ngIf="id" class="modal-title">Modificar Reserva <span class="info-reference">{{ reserve.reference }}</span></h5>
            <button type="button" class="close basic-close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">

            <div class="row">

                <div class="col-md-6">

                    <div class='form-group'>
                        <label class="col-form-label">Tipo de Servicio*</label>
                        <div class="align-self-center">
                            <ng-select [items]="serviceTypes" indLabel="label" bindValue="value" [clearable]="false" placeholder="Seleccione..." formControlName="service_type" notFoundText="No se encontraron resultados"></ng-select>
                            <div class="is-invalid" *ngIf="submitted && form.get('service_type').hasError('required')">
                                <span class="badge badge-danger f-size-12 mt-1 m-r-5">El tipo de servicio es requerido</span>
                            </div>
                        </div>
                    </div>

                    <div class='form-group'>
                        <label class="col-form-label">Jornada*</label>
                        <div class="align-self-center">
                            <ng-select [items]="workingDays" indLabel="label" bindValue="value" [clearable]="false" placeholder="Seleccione... " [readonly]="!form.controls.service_type.value" formControlName="working_day" notFoundText="No se encontraron resultados"></ng-select>
                            <div class="is-invalid" *ngIf="submitted && form.get('working_day').hasError('required')">
                                <span class="badge badge-danger f-size-12 mt-1 m-r-5">La jornada es requerida</span>
                            </div>
                        </div>
                    </div>

                    <div class='form-group'>
                        <label class="col-form-label">Tipo*</label>
                        <div class="align-self-center">
                            <ng-select [items]="types" indLabel="label" bindValue="value" [clearable]="false" placeholder="Seleccione..." [readonly]="!form.controls.working_day.value" formControlName="type" notFoundText="No se encontraron resultados"></ng-select>
                            <div class="is-invalid" *ngIf="submitted && form.get('type').hasError('required')">
                                <span class="badge badge-danger f-size-12 mt-1 m-r-5">El tipo es requerida</span>
                            </div>
                        </div>
                    </div>

                    <div class='form-group'>
                        <label class="col-form-label">Servicio*</label>
                        <div class="align-self-center">
                            <ng-select [items]="services" indLabel="label" bindValue="value" [clearable]="false" placeholder="Seleccione..." [readonly]="!form.controls.type.value" formControlName="service" notFoundText="No se encontraron resultados"></ng-select>
                            <div class="is-invalid" *ngIf="submitted && form.get('service').hasError('required')">
                                <span class="badge badge-danger f-size-12 mt-1 m-r-5">El servicio es requerido</span>
                            </div>
                        </div>
                    </div>

                    <div class='form-group'>
                        <label class="col-form-label">Dirección*</label>
                        <div class="align-self-center">
                            <ng-select [items]="addresses" indLabel="label" bindValue="value" [clearable]="false" placeholder="Seleccione..." formControlName="customer_address" notFoundText="No se encontraron resultados"></ng-select>
                            <div class="is-invalid" *ngIf="submitted && form.get('customer_address').hasError('required')">
                                <span class="badge badge-danger f-size-12 mt-1 m-r-5">La dirección es requerida</span>
                            </div>
                        </div>
                    </div>

                    <label class="price" *ngIf="price">Total: {{ price | currency}}</label>

                </div>

                <div class="col-md-6" style="border-left: 4px solid #c1c1c1;">

                    <label *ngIf="quantity">Cantidad de servicios:</label><label class="badge badge-primary ml-2 f-12" *ngIf="quantity">{{ quantity }}</label>

                    <div class="mt-1 mb-3 " *ngIf="form.get('days').hasError('invalidQuantity') && !form.get('days').pristine">
                        <span class="badge m-r-5 badge-danger break-spaces">La cantidad de días seleccionados no corresponde con la cantidad de servicios</span>
                    </div>

                    <div class="content-days">

                        <div formArrayName="days" *ngFor="let day of daysArray.controls; let i = index">

                            <div class="form-group" [formGroupName]="day.value.index" *ngIf="day.value.type == 1">
                                <label class="col-form-label">Fecha Servicio {{ i + 1 }}*</label>
                                <div class="input-group">
                                    <input class="form-control" formControlName="date" placeholder="YYYY-MM-DD" ngbDatepicker #date="ngbDatepicker" [dayTemplate]="customDay" [placement]="'bottom'" [footerTemplate]="footerTemplate" [markDisabled]="isDisabled">
                                    <div class="input-group-append bg-default" (click)="date.toggle()">
                                        <span class="input-group-text">
                                          <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="mt-1" *ngIf="day.get('date').hasError('required')">
                                    <span class="badge m-r-5 badge-danger">La fecha es requerida</span>
                                </div>
                                <div class="mt-1" *ngIf="day.get('date').hasError('repeatedDate')">
                                    <span class="badge m-r-5 badge-danger">La fecha seleccionada ya esta asociada a otro servicio</span>
                                </div>
                                <ng-template #customDay let-date="date" let-currentMonth="currentMonth" let-disabled="disabled" let-focused="focused" let-selected="selected">
                                    <div class="custom-day" [class.weekend]="isWeekend(date)" [class.focused]="focused" [class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled">
                                        {{ date.day }}
                                    </div>
                                </ng-template>

                                <ng-template #footerTemplate>
                                    <hr class="my-0">
                                    <button class="btn btn-danger btn-sm m-2 float-right btn-dp" (click)="date.close()">Cerrar</button>
                                </ng-template>
                            </div>

                            <div class="form-group" [formGroupName]="day.value.index" *ngIf="day.value.type == 2">

                                <div class="form-group">
                                    <div class="switch d-inline m-r-10">
                                        <input type="checkbox" id="{{day.value.day}}" formControlName="selected">
                                        <label for="{{day.value.day}}" class="cr"></label>
                                    </div>
                                    <label> {{ day.value.day }}</label>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary mr-2" (click)="cancel(); d('Cross click')" (click)="cancel();">Cancelar</button>
            <button *ngIf="canCreate && !id" type="submit" class="btn btn-success mr-2" [disabled]="!form.valid" (click)="onSubmit()">Guardar</button>
            <button *ngIf="canEdit && id" type="submit" class="btn btn-primary mr-2" [disabled]="!form.valid" (click)="onSubmit()">Editar</button>
        </div>
    </ng-template>
</form>
<button #openModal type="button" class="btn btn-primary hidden" (click)="open(modalForm)"></button>
<button #closeModal type="button" class="close basic-close" aria-label="Close" (click)="close(modalForm)"></button>

<!--<ng-template #modalPayments let-c="close" let-d="dismiss">
  <form [formGroup]="formPayment">
      <div class="modal-header">
          <h5 class="modal-title">Pago de Servicio</h5>
          <button type="button" class="close basic-close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body pt-1">

          <label class="danger">Recuerda que actualmente cuentas con un tiempo limite de <strong class="font-weight-bold">{{ reservationPayment.limit }}</strong> para pagar tu servicio.</label>

          <div class="row">

              <div class="col-md-3">

                  <div class="card card-primary br-10 mb-2">

                    <div class="card-header p-2">
                      <label class="label-reservation mb-0">Información de la reserva</label>
                    </div>

                    <div class="card-body p-2">

                      <div class="col-md-12 p-0">
                        <div>
                            <span class="f-12">Referencia</span>
                            <br>
                            <label class="font-weight-bold info-reservation">#{{ reservationPayment.reference  }}</label>
                        </div>
                      </div>

                      <div class="col-md-12 p-0">
                        <div>
                            <span class="f-12">Tipo de Servicio</span>
                            <br>
                            <label class="font-weight-bold info-reservation" *ngIf="reservationPayment.type === 1">Esporádico</label>
                            <label class="font-weight-bold info-reservation" *ngIf="reservationPayment.type === 2">Mensualidad</label>
                        </div>
                      </div>

                      <div class="col-md-12 p-0">
                        <div>
                            <span class="f-12">Servicio</span>
                            <br>
                            <label class="font-weight-bold info-reservation">{{ reservationPayment.service.name }}</label>
                        </div>
                      </div>

                      <div class="col-md-12 p-0">
                        <div>
                            <span class="f-12">Jornada</span>
                            <br>
                            <label class="font-weight-bold info-reservation">{{ reservationPayment.service.working_day.name }}</label>
                        </div>
                      </div>

                      <div class="col-md-12 p-0">
                        <div>
                            <span class="f-12">Dirección a prestar el servicio</span>
                            <br>
                            <label class="font-weight-bold info-reservation">{{ reservationPayment.customer_address.address }}</label>
                        </div>
                      </div>

                    </div>

                  </div>

                  <div class="card card-primary br-10 mb-0">

                    <div class="card-header p-2 mb-2">
                      <span class="label-reservation mb-0">Detalle de los servicios:</span>
                    </div>

                    <div class="card-body p-2" *ngIf="reservationPayment.type === 1">

                      <div class="col-md-12 p-0" *ngFor="let day of reservationPayment.days; let i = index">
                        <div>
                            <span class="f-12">Fecha del servicio #{{ i + 1 }}:</span>
                            <br>
                            <label class="font-weight-bold info-reservation">{{ day.date }}</label>
                        </div>
                      </div>

                    </div>

                    <div class="card-body p-2" *ngIf="reservationPayment.type === 2">
                      <span class="f-12">Días:</span>
                      <div class="col-md-12 p-0" *ngFor="let day of reservationPayment.days; let i = index">
                        <div>
                            <label class="font-weight-bold info-reservation">{{ day }}</label>
                        </div>
                      </div>
                    </div>

                  </div>

              </div>

              <div class="col-md-3 filters">

                <div class="card card-success br-10 mb-0">

                  <div class="card-body pt-2 body-professional-reserve">

                    <div>
                      <div class="container-image-reserve">
                        <img [src]="reservationPayment.professional.photo" class="img-professional-reserve" />
                      </div>
                    </div>

                    <div class="body-info">
                      <div>
                        <span class="f-12">Identificación</span>
                        <br>
                        <label class="font-weight-bold info-reservation">{{ reservationPayment.professional.identification }}</label>
                      </div>

                      <div>
                        <span class="f-12">Profesional</span>
                        <br>
                        <label class="font-weight-bold info-reservation">{{ reservationPayment.professional.name | titlecase }} {{ reservationPayment.professional.lastname | titlecase }}</label>
                      </div>

                      <div>
                        <span class="f-12">Edad</span>
                        <br>
                        <label class="font-weight-bold info-reservation">{{ reservationPayment.professional.age }}</label>
                      </div>

                      <div>
                        <span class="f-12">Teléfono</span>
                        <br>
                        <label class="font-weight-bold info-reservation">{{ reservationPayment.professional.phone }}</label>
                      </div>

                      <div>
                        <span class="f-12">Teléfono de contacto</span>
                        <br>
                        <label class="font-weight-bold info-reservation">{{ reservationPayment.professional.phone_contact }}</label>
                      </div>

                      <div>
                        <span class="f-12">Email</span>
                        <br>
                        <label class="font-weight-bold info-reservation">{{ reservationPayment.professional.email }}</label>
                      </div>

                    </div>

                  </div>

                </div>

              </div>

              <div class="col-md-6">

                <label class="label-payment mb-0">
                  Total a pagar: {{ (reservationPayment.service.price * reservationPayment.service.quantity) | currency }}
                </label>

                <ngb-tabset type="pills" [orientation]="currentOrientation" (tabChange)="changePaymentMethod($event)">
                  <ngb-tab title="Tarjeta de Credito" [id]="1">
                    <ng-template ngbTabContent>

                      <div class="row text-center">
                          <div class="col-md-2">
                              <img class="img-cards" src="assets/img/reserve/visa.png" (click)="selectCard('VISA')" [ngClass]="{'credit-card-active': formPayment.get('card').value === 'VISA'}">
                          </div>
                          <div class="col-md-2">
                              <img class="img-cards"  src="assets/img/reserve/american-express.png" (click)="selectCard('AMEX')" [ngClass]="{'credit-card-active': formPayment.get('card').value === 'AMEX'}">
                          </div>
                          <div class="col-md-2">
                              <img class="img-mastercard" src="assets/img/reserve/mastercard.png" (click)="selectCard('MASTERCARD')" [ngClass]="{'credit-card-active': formPayment.get('card').value === 'MASTERCARD'}">
                          </div>
                          <div class="col-md-2">
                            <img class="img-cards" src="assets/img/reserve/diners.png" (click)="selectCard('DINERS')" [ngClass]="{'credit-card-active': formPayment.get('card').value === 'DINERS'}">
                          </div>
                          <div class="col-md-2">
                            <img class="codensa" src="assets/img/reserve/codensa.png" (click)="selectCard('CODENSA')" [ngClass]="{'credit-card-active': formPayment.get('card').value === 'CODENSA'}">
                          </div>
                      </div>

                      <div class="row form-mastercard">

                        <div class="form-group row wid-100">
                          <label class="col-sm-4 col-form-label label-mastercard">Nombre en la tarjeta*</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control input-mastercard" formControlName="name">
                            <div class="is-invalid" *ngIf="submittedPayment && formPayment.get('name').hasError('required')">
                              <span class="badge badge-danger f-size-12 mt-1 m-r-5">El nombre del titular es requerido</span>
                            </div>
                          </div>
                        </div>

                        <div class="form-group row wid-100">
                          <label class="col-sm-4 col-form-label label-mastercard">Documento de identificación*</label>
                          <div class="row col-md-8 pr-0">
                            <div class="col-sm-5">
                              <ng-select class="select-mastercard" formControlName="type_document" [items]="documentPayment" indLabel="label" bindValue="value" [clearable]="true" placeholder="Seleccione..." notFoundText="No se encontraron resultados"></ng-select>
                              <div class="is-invalid" *ngIf="submittedPayment && formPayment.get('type_document').hasError('required')">
                                <span class="badge badge-danger f-size-12 mt-1 m-r-5">El tipo de documento es requerido</span>
                              </div>
                            </div>
                            <div class="col-sm-7 p-0">
                              <input type="text" class="form-control input-mastercard" formControlName="identification" maxlength="10">
                              <div class="is-invalid" *ngIf="submittedPayment && formPayment.get('identification').hasError('required')">
                                <span class="badge badge-danger f-size-12 mt-1 m-r-5">El número de identificación es requerido</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group row wid-100">
                          <label class="col-sm-4 col-form-label label-mastercard">Número de tarjeta *</label>
                          <div class="col-sm-8">
                            <input class="form-control input-mastercard" formControlName="cardNumber" type="tel" autocomplete="cc-number" ccNumber maxlength="20">
                            <div class="is-invalid" *ngIf="submittedPayment && formPayment.get('cardNumber').hasError('required')">
                              <span class="badge badge-danger f-size-12 mt-1 m-r-5">El número de la tarjeta es requerido</span>
                            </div>
                            <div class="is-invalid" *ngIf="formPayment.get('cardNumber').touched && formPayment.get('cardNumber').hasError('ccNumber')">
                              <span class="badge badge-danger f-size-12 mt-1 m-r-5">El número de la tarjeta no es valido</span>
                            </div>
                          </div>
                        </div>

                        <div class="form-group row wid-100">
                          <label class="col-sm-4 col-form-label label-mastercard">Código de seguridad *</label>
                          <div class="col-sm-8">
                            <input class="form-control input-mastercard" formControlName="securityCode" type="tel" autocomplete="off" ccCvc minlength="1" maxlength="4">
                            <div class="is-invalid" *ngIf="submittedPayment && formPayment.get('securityCode').hasError('required')">
                              <span class="badge badge-danger f-size-12 mt-1 m-r-5">El número de seguridad es requerido</span>
                            </div>
                          </div>
                        </div>

                        <div class="form-group row wid-100">
                          <label class="col-sm-4 col-form-label label-mastercard">Fecha de vencimiento*</label>
                          <div class="row col-md-8 pr-0">
                            <div class="col-sm-6 pr-0">
                              <ng-select class="payment" formControlName="month" [items]="dueDate" indLabel="label" bindValue="value" [clearable]="false" placeholder="-Mes-" notFoundText="No se encontraron resultados"></ng-select>
                              <div class="is-invalid" *ngIf="submittedPayment && formPayment.get('month').hasError('required')">
                                <span class="badge badge-danger f-size-12 mt-1 m-r-5">El mes es requerido</span>
                              </div>
                            </div>
                            <div class="col-sm-6 pr-0">
                              <ng-select class="payment" formControlName="year" [items]="years" indLabel="label" bindValue="value" [clearable]="false" placeholder="-Año-" notFoundText="No se encontraron resultados"></ng-select>
                              <div class="is-invalid" *ngIf="submittedPayment && formPayment.get('year').hasError('required')">
                                <span class="badge badge-danger f-size-12 mt-1 m-r-5">El año es requerido</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group row wid-100">
                          <label class="col-sm-4 col-form-label label-mastercard">Cuotas *</label>
                          <div class="col-sm-8">
                            <ng-select class="payment" formControlName="dues" [items]="dues" indLabel="label" bindValue="value" [clearable]="false" placeholder="-Seleccione-" notFoundText="No se encontraron resultados"></ng-select>
                            <div class="is-invalid" *ngIf="submittedPayment && formPayment.get('year').hasError('required')">
                              <span class="badge badge-danger f-size-12 mt-1 m-r-5">El número de cuotas es requerido</span>
                            </div>
                          </div>
                        </div>

                        <div class="form-group row wid-100">
                          <label class="col-sm-4 col-form-label label-mastercard">Teléfono Celular *</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control input-mastercard" formControlName="phone" maxlength="10">
                            <div class="is-invalid" *ngIf="submittedPayment && formPayment.get('phone').hasError('required')">
                              <span class="badge badge-danger f-size-12 mt-1 m-r-5">El número de teléfono es requerido</span>
                            </div>
                          </div>
                        </div>

                      </div>

                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="PSE" [id]="2">
                    <ng-template ngbTabContent>

                      <div class="row form-mastercard">

                        <div class="form-group row wid-100">
                          <label class="col-sm-4 col-form-label label-mastercard">Banco*</label>
                          <div class="col-sm-8">
                            <ng-select class="payment" formControlName="bank" [items]="banks" indLabel="label" bindValue="value"  placeholder="-A continuación seleccione su banco-"  [clearable]="false" notFoundText="No se encontraron resultados"></ng-select>
                            <div class="is-invalid" *ngIf="submittedPayment && formPayment.get('bank').hasError('required')">
                              <span class="badge badge-danger f-size-12 mt-1 m-r-5">El banco es requerido</span>
                            </div>
                          </div>
                        </div>

                        <div class="form-group row wid-100">
                          <label class="col-sm-4 col-form-label label-mastercard">Nombre del titular*</label>
                          <div class="col-sm-8">
                            <input type="text" formControlName="name" class="form-control input-mastercard">
                            <div class="is-invalid" *ngIf="submittedPayment && formPayment.get('name').hasError('required')">
                              <span class="badge badge-danger f-size-12 mt-1 m-r-5">El nombre del titular es requerido</span>
                            </div>
                          </div>
                        </div>

                        <div class="form-group row wid-100">
                          <label class="col-sm-4 col-form-label label-mastercard">Tipo de persona*</label>
                          <div class="col-sm-8">
                            <ng-select class="payment" formControlName="kindPerson" [items]="kindPerson" indLabel="label" bindValue="value" [clearable]="false" placeholder="-Seleccione-" notFoundText="No se encontraron resultados"></ng-select>
                            <div class="is-invalid" *ngIf="submittedPayment && formPayment.get('kindPerson').hasError('required')">
                              <span class="badge badge-danger f-size-12 mt-1 m-r-5">El tipo de persona es requerido</span>
                            </div>
                          </div>
                        </div>

                        <div class="form-group row wid-100">
                          <label class="col-sm-4 col-form-label label-mastercard">Documento de identificación*</label>
                          <div class="row col-md-8 pr-0">
                            <div class="col-sm-5">
                              <ng-select class="select-mastercard" formControlName="type_document" [items]="documentPayment" indLabel="label" bindValue="value" [clearable]="true" placeholder="Seleccione..." notFoundText="No se encontraron resultados"></ng-select>
                              <div class="is-invalid" *ngIf="submittedPayment && formPayment.get('type_document').hasError('required')">
                                <span class="badge badge-danger f-size-12 mt-1 m-r-5">El tipo de documento es requerido</span>
                              </div>
                            </div>
                            <div class="col-sm-7 p-0">
                              <input type="text" class="form-control input-mastercard" formControlName="identification" maxlength="10">
                              <div class="is-invalid" *ngIf="submittedPayment && formPayment.get('identification').hasError('required')">
                                <span class="badge badge-danger f-size-12 mt-1 m-r-5">El número de identificación es requerido</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group row wid-100">
                          <label class="col-sm-4 col-form-label label-mastercard">Teléfono Celular *</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control input-mastercard" formControlName="phone" maxlength="10">
                            <div class="is-invalid" *ngIf="submittedPayment && formPayment.get('phone').hasError('required')">
                              <span class="badge badge-danger f-size-12 mt-1 m-r-5">El número de teléfono es requerido</span>
                            </div>
                          </div>
                        </div>

                      </div>

                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="Efecty" [id]="3">
                    <ng-template ngbTabContent>

                      <div class="row form-mastercard">

                        <div class="form-group row wid-100">
                          <label class="col-sm-4 col-form-label label-mastercard">Nombre*</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control input-mastercard" formControlName="name">
                          </div>
                        </div>

                        <div class="form-group row wid-100">
                          <label class="col-sm-4 col-form-label label-mastercard">Documento de identificación*</label>
                          <div class="row col-md-8 pr-0">
                            <div class="col-sm-5">
                              <ng-select class="select-mastercard" formControlName="type_document" [items]="documentTypes" indLabel="label" bindValue="value" [clearable]="true" placeholder="Seleccione..." notFoundText="No se encontraron resultados"></ng-select>
                            </div>
                            <div class="col-sm-7 p-0">
                              <input type="text" class="form-control input-mastercard" formControlName="identification">
                            </div>
                          </div>
                        </div>

                        <div class="form-group row wid-100">
                          <label class="col-sm-4 col-form-label label-mastercard">Teléfono Celular *</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control input-mastercard" formControlName="phone">
                          </div>
                        </div>

                      </div>

                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="Baloto" [id]="4">
                    <ng-template ngbTabContent>
                      <div class="row form-mastercard">

                        <div class="form-group row wid-100">
                          <label class="col-sm-4 col-form-label label-mastercard">Nombre*</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control input-mastercard" formControlName="name">
                          </div>
                        </div>

                        <div class="form-group row wid-100">
                          <label class="col-sm-4 col-form-label label-mastercard">Documento de identificación*</label>
                          <div class="row col-md-8 pr-0">
                            <div class="col-sm-5">
                              <ng-select class="select-mastercard" formControlName="type_document"  [items]="documentTypes" indLabel="label" bindValue="value" [clearable]="true" placeholder="Seleccione..." notFoundText="No se encontraron resultados"></ng-select>
                            </div>
                            <div class="col-sm-7 p-0">
                              <input type="text" class="form-control input-mastercard" formControlName="identification">
                            </div>
                          </div>
                        </div>

                        <div class="form-group row wid-100">
                          <label class="col-sm-4 col-form-label label-mastercard">Teléfono Celular *</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control input-mastercard" formControlName="phone">
                          </div>
                        </div>

                      </div>
                    </ng-template>
                  </ngb-tab>

                </ngb-tabset>

              </div>
          </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary mr-2" (click)="d('Cross click')">Cancelar</button>
        <button type="button" class="btn btn-success mr-2" [disabled]="!formPayment.valid" (click)="doPayment()">Pagar</button>
    </div>
  </form>
</ng-template>

<button #openModalPayment type="button" class="btn btn-primary hidden" (click)="openPayment(modalPayments)"></button>
<button #closeModalPayment type="button" class="close basic-close" aria-label="Close" (click)="closePayment(modalPayments)"></button>-->
