.card-profile {
  margin-top: -20px;
}

.badge-password {
  color: #fff;
  background-color: #dc3545;
  width: 100%;
  text-align: left;
  font-size: 12px;
  padding: 5px;
}

.show-password {
  width: 40px;
  align-items: center;
  justify-content: center;
  background-color: #e4e4e4;
}
