
<div style="margin-top: -20px;margin-left: 20px;">
  <span style="color: black;font-weight: 400;font-size: 18px;">Bienvenido a 4Home </span>
  <strong style="font-weight: bold;color: black;font-size: 18px;text-transform: capitalize;">{{ name }}!</strong>
  <div>
    <label style="color: black;">A continuación, encontraras un resumen de tus servicios: </label>
  </div>
</div>

<div class="d-flex">

  <div class="col-md-9">

    <div class="card">

      <div class="card-header">

        <span class="label-schedule">Mis Servicios</span>

      </div>

      <div class="card-body">
        <full-calendar #calendar deepChangeDetection="true" [options]="calendarOptions"></full-calendar>
      </div>

    </div>

  </div>

  <div class="col-md-3" *ngIf="widgets">

    <div class="card bg-c-yellow bitcoin-wallet br-10">
      <div>
        <div class="card-block p-2">
          <h5 class="text-white mb-2 f-14">Servicios pendientes de pago</h5>
          <h2 class="text-white mb-2 f-24">{{ widgets.pending }}</h2>
          <h2>
            <i class="fas fa-clock f-30 text-white"></i>
          </h2>
        </div>
      </div>
    </div>

    <div class="card theme-bg bitcoin-wallet br-10">
      <div>
        <div class="card-block p-2">
          <h5 class="text-white mb-2 f-14">Servicios en Pre-Agendamiento</h5>
          <h2 class="text-white mb-2 f-24">{{ widgets.schedule }}</h2>
          <h2>
            <i class="fas fa-history f-30 text-white"></i>
          </h2>
        </div>
      </div>
    </div>

    <div class="card bg-c-red bitcoin-wallet br-10">
      <div>
        <div class="card-block p-2">
          <h5 class="text-white mb-2 f-14">Servicios con pago vencido</h5>
          <h2 class="text-white mb-2 f-24">{{ widgets.expiration }}</h2>
          <h2>
            <i class="fas fa-window-close f-30 text-white"></i>
          </h2>
        </div>
      </div>
    </div>

    <div class="card theme-bg2 bitcoin-wallet br-10">
      <div>
        <div class="card-block p-2">
          <h5 class="text-white mb-2 f-14">Total de servicios adquiridos en 4Home</h5>
          <h2 class="text-white mb-2 f-24">{{ widgets.total }}</h2>

          <h2>
            <i class="fas fa-check f-30 text-white"></i>
          </h2>
        </div>
      </div>
    </div>

  </div>

</div>


